/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-tab-label,
.mat-tab-label-active {
  min-width: 50%!important;
  font-size: 20px;
}

.mat-input-infix.mat-form-field-infix {
  font-size: 20px;
}
