/* You can add global styles to this file, and also import other style files */

@import './variables';
@import './mixins';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
.mat-tab-label,
.mat-tab-label-active {
  min-width: 50%!important;
  font-size: 20px;
}

.mat-input-infix.mat-form-field-infix {
  font-size: 20px;
}

.mat-icon-button .mat-icon {
  font-size: 20px!important;
}

body {
  background: #c33764;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #c33764, #1d2671);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #c33764, #1d2671);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/*---- HEADINGS ----*/

h1,
h2,
h3 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1px;
}

h2 {
  font-size: 180%;
  word-spacing: 2px;
  text-align: center;
  margin-bottom: 30px;
  color: #573369;
}

h2:after {
  display: block;
  height: 2px;
  background: $underline-color;
  content: " ";
  width: 100px;
  margin: 0 auto;
  margin-top: 30px;
}
