mat-card:not(:first-child) {
  margin-top: 5px;
}

mat-card:first-child {
  margin-top: 15px;
}

.feed-container {
  width: 70%;
  margin: 0 auto;
  margin-top: 5px;
}

.fr-box {
  margin: 0 auto;
  margin-top: 5%;
}

.editor-card {
  width: 70%;
  margin: 0 auto;
  padding: 0;
}

.add-button {
  margin: 10px;
}
