<form [formGroup]="form" novalidate (ngSubmit)="register(form)">
  <div *ngIf="error.length > 0" class="firebase-error">{{error}}</div>
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email" required>
    <mat-error *ngIf="form.controls['email'].errors?.email">
      Please enter a email
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Password" formControlName="password" required>
    <mat-error *ngIf="form.controls['password'].errors?.required">
      Please enter a password
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword" required>
  </mat-form-field>
  <div class="error" *ngIf="form?.errors?.passwordsShouldMatch && form.controls['password'].touched">
    Please ensure password match
  </div>
  <button mat-raised-button color="primary" [disabled]="!form.valid" class="pull-right">Register</button>
  <div class="clearfix"></div>
</form>
