 mat-card {
   width: 70%;
   margin: auto;
   margin-top: 8%;
 }

 mat-form-field {
   width: 50%;
   margin-left: 25%
 }

 textarea {
   height: 120px;
   font-size: 15px;
 }

 button {
   margin-top: 10px;
 }
